@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --bg-color: #000000;
  --bg-color-2: #1b1b1a;
  --accent-color: #f9c02c;
  --text-color: #ffffff;
  --text-color-2: #99a1ae;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
}

header{
  margin-top: 3rem;
  padding-left: 15px;
}

h1 {
  font-size: 3rem;
  font-family: 'Anton', sans-serif;
  max-width: 220px;
  line-height: 1;
  padding: 5px 0 15px 0;
  color: var(--accent-color);
  letter-spacing: 1px;
  text-transform: uppercase;
  transform: scaleY(115%);
}

h1 + p {
  color: var(--accent-color);
  margin: 10px 0 20px 0
}

#perfect-for{
  font-size : 1.3rem;
  font-weight: bold;
  margin: 1rem 0;
}

ul{
  margin-left: 1rem;
  font-size: 1.1rem;
}

li{
  margin-bottom: 1rem
}

li::marker{
  color: var(--accent-color)
}

.btn{
  width: 175px;
  height: 60px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  border: none
}

.btn-1 {
  background: var(--accent-color);
  transition: all 0.5s ease;
}

.btn-1:hover{
  scale: 1.05;
}

button > a {
  display: block;
  font-family: "Anton", sans-serif;
  letter-spacing: 1px;
  color: var(--bg-color);
  text-decoration: none;
}

div:has(.social-cta-wrapper){
  margin-top: 2rem;
}

.social-cta-wrapper{
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  margin-top: 1rem;
} 

#phone-1-wrapper, #ig-1-wrapper{
  max-width: fit-content;
  background: var(--accent-color);
  border-radius: 50%;
}

#phone-1, #ig-1{
  padding: 10px;
}

#call-for-booking,
#follow-us-on {
  color: var(--text-color-2);
  text-transform: uppercase;
  letter-spacing: .1rem
}

.call-info{
  gap: 1rem;
}

.call-info > a:nth-child(2){
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 2.5px;
  color: var(--text-color);
  text-decoration: none;
  transition: all .5s ease;
}

.call-info > a:nth-child(2):hover{
  color: var(--accent-color)
}

.product-image-container-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .7rem;
  margin-top: 2rem;
}

.product-image-container{
  width: 170px;
  height: 190px;
  border: 10px solid var(--text-color);
  border-bottom: 30px solid var(--text-color)
}

.product-image{
  width: 100%;
}

#about-us{
  background: var(--bg-color-2);
  padding: 2rem 15px;
  margin-top: 3rem;
  text-align: center
}

#about-us > h2{
  font-size: 2rem;
  font-family: 'Anton', sans-serif;
  color: var(--accent-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

#about-us > p{
  font-size: 1.1rem;
  line-height: 1.5;
}

#about-us > p:nth-child(2){
  margin-bottom: 1rem;
}

#about-us > p:nth-child(3){
  margin-bottom: 1rem;
  color: var(--text-color-2);
}

#our-offerings{
  background: var(--bg-color);
  padding: 2rem 15px;
  margin-top: 3rem;
  text-align: center
}

#our-offerings > h2{
  font-size: 2rem;
  font-family: 'Anton', sans-serif;
  color: var(--accent-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

#our-offerings > div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#our-offerings > div > div{
  display: flex;
  flex-direction: column;
  gap: .7rem;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  background: var(--bg-color-2);
  padding: 1rem;
  border-radius: 10px;
}

#our-offerings > div > div > h3{
  font-size: 1.2rem;
  color: var(--accent-color);
  text-transform: uppercase;
}

#our-offerings > div > div > p{
  font-size: 1rem;
  color: var(--text-color-2);
}

#our-offerings > div > div > p:nth-child(2){
  margin-bottom: 1rem;
}

#our-offerings > div > div > p:nth-child(3){
  margin-bottom: 1rem;
  color: var(--text-color-2);
}

#our-offerings > div > div > p:nth-child(4){
  margin-bottom: 1rem;
  color: var(--text-color-2);
}

#ready-to-order{
  background: var(--accent-color);
  padding: 2rem 15px;
  margin-top: 3rem;
  text-align: center
  color: var(--bg-color)
}

#ready-to-order > h2{
  font-size: 2rem;
  font-family: 'Anton', sans-serif;
  color: var(--bg-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  text-align: center;
}

#ready-to-order > p{
  font-size: 1.1rem;
  color: var(--bg-color);
  text-align: center;
}

#ready-to-order > div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  text-align: center;
}

#ready-to-order > div > a{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  width: 200px;
  height: 60px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  background: var(--bg-color);
  color: var(--accent-color);
  cursor: pointer;
  transition: all .5s ease;
  text-decoration: none;
}

#ready-to-order > div > a:hover{
  background: #444;
  border: 1px solid var(--accent-color);
}

#ready-to-order > div > a:active{
  transform: scale(0.95);
}

footer{
  padding: 2rem 15px;
  margin-top: 3rem;
  text-align: center
}

footer > div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer > div > div{
  display: flex;
  flex-direction: column;
  gap: .7rem;
  text-align: center;
  padding: 1rem;
}

#footer-header{
  font-size: 1.5rem;
  color: var(--accent-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Anton', sans-serif;
}

#footer-tagline{
  font-size: 1.1rem;
  color: var(--text-color-2);
  margin-bottom: 1rem;
}

#footer-social > p > a{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-decoration-style: solid;
  color: var(--text-color);
}
  
#footer-social > p > a:hover{
  color: var(--accent-color);
}

#copy{
  color: var(--text-color-2);
  font-size: 1.1rem;
}

@media screen and (min-width: 425px) {
  .product-image-container{
    width: 190px;
    height: 210px;
  }
}

@media screen and (min-width: 768px) {
  header{
    padding-left: 2rem;
  }

  h1{
    font-size: 5rem;
    max-width: 350px;
  }

  h1 + p{
    font-size: 1.5rem;
  }

  .product-image-container{
    width: 330px;
    height: 350px;
    gap: 1.5rem
  }

  #about-us{
    padding: 4rem;
  }

  #about-us > h2,
  #our-offerings > h2{
    font-size: 3rem;
  }

  #about-us > p{
    max-width: 1000px;
    margin: 0 auto;
    font-size: 1.5rem;
  }

  #about-us > p:nth-child(2){
    margin-bottom: 2rem;
  }

 #our-offerings > div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  #our-offerings > div > div{
    padding: 1.5rem;
    height: 220px
  }

  #our-offerings > div > div > h3{
    font-size: 1.5rem;
  }

  #our-offerings > div > div > p{
    font-size: 1.3rem;
  }

  #ready-to-order{
    margin-top: 4rem;
    padding: 4rem 15px;
  }

  #ready-to-order > h2{
    font-size: 4rem;
    text-align: center;
  }

  #ready-to-order > p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    max-width: 650px;
    margin: 0 auto 2rem;
  }

  #ready-to-order > div{
    flex-direction: row;
  }

  #footer-header{
    font-size: 2.5rem;
  }

  #footer-tagline{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  #footer-social{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0 auto;
  }

  #footer-social>a{
    display: block;
  }
  
}

@media screen and (min-width: 1024px) {
  header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 2rem;
  }

  #perfect-for{
    font-size : 1.5rem;
  }

  ul{
    font-size: 1.3rem;
  }

  .btn{
    width: 200px;
    height: 60px;
    font-size: 1.5rem
  }
  
  .product-image-container{
    margin-right: 2rem;
  }

  .product-image-container{
    width: 370px;
    height: 390px;
    transition: all .5s ease;
  }

  .product-image-container:hover{
    transform: scale(1.05);
  }
}

@media screen and (min-width: 1200px) {
  #our-offerings > div > div{
    height: 200px
  }

  #our-offerings > div > div > h3{
    font-size: 1.7rem;
  }

  #our-offerings > div > div > p{
    font-size: 1.5rem;
  }
}

