:root{
  --bg-color: #000000;
  --bg-color-2: #1b1b1a;
  --accent-color: #f9c02c;
  --text-color: #ffffff;
  --text-color-2: #99a1ae;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
}

header{
  margin-top: 3rem;
  padding-left: 15px;
}

h1 {
  font-size: 3rem;
  font-family: 'Anton', sans-serif;
  max-width: 220px;
  line-height: 1;
  padding: 5px 0 15px 0;
  color: var(--accent-color);
  letter-spacing: 1px;
  text-transform: uppercase;
  transform: scaleY(115%);
}

h1 + p {
  color: var(--accent-color);
  margin: 10px 0 20px 0
}

#perfect-for{
  font-size : 1.3rem;
  font-weight: bold;
  margin: 1rem 0;
}

ul{
  margin-left: 1rem;
  font-size: 1.1rem;
}

li{
  margin-bottom: 1rem
}

li::marker{
  color: var(--accent-color)
}

.btn{
  width: 175px;
  height: 60px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem
}

.btn-1 {
  background: var(--accent-color)
}

button > span {
  display: block;
  font-family: "Anton", sans-serif;
  letter-spacing: 1px;
}

#phone-1-wrapper-wrapper{
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem
} 

#phone-1-wrapper{
  max-width: fit-content;
  background: var(--accent-color);
  border-radius: 50%;
}

#phone-1{
  padding: 10px;
}

#call-for-booking,
#follow-us-on {
  color: var(--text-color-2);
  text-transform: uppercase;
  letter-spacing: .1rem
}

#call-info{
  gap: 1rem;
}

#call-info > p:nth-child(2){
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 2.5px;
}